{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block liNav %}
  <li class="nav-item">
    <a class="nav-link mx-2 active" aria-current="page" href="#">Home</a>
  </li>
  {% if current_user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link mx-2" href="{{url_for('profilo')}}">Profilo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link mx-2" href="{{url_for('logout')}}">Logout</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link mx-2" href="{{url_for('Page_login')}}">Login</a>
  </li>
  {% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <form action="/filtro" method="POST">
    <div class="row mb-4">
      <div class="col-3"></div>
      <div class="col-5">
        <select class="form-control rounded-pill shadow-sm filtroButton" id="filterSelect" name="selFiltro">
          <option value=""></option>
          <option value="numLocali">NUMERO LOCALI (crescente)</option>
          <option value="prezzo">PREZZO MENSILE (decrescente)</option>
          <!-- Aggiungi altre opzioni secondo necessità -->
        </select>
      </div>
      <div class="col-1">
        <button type="submit" class="btn buttonOrdina">Ordina</button>
      </div>
      <div class="col-3"></div>
    </div> 
  </form>
  <div class="row cardContainer">
    {% for annuncio in allAnnunci %}
    {% set foto_list = annuncio.foto_concatenate.split(',') %}
    <div class="col-md-4 mb-4">
      <div class="card cardTotale">
        <a href="" data-bs-toggle="modal" data-bs-target="#Modal{{annuncio.idAnnuncio}}">
          <img src="{{ url_for('static', filename=foto_list[0]) }}" class="card-img-top cardFoto" alt="Immagine Prodotto">
        </a>
        <div class="card-body">
          <p class="card-title">{{annuncio.tipoCasa}}</p>
          <p class="card-text prezzoM">{{annuncio.prezzoMensile}}€</p>
          <p class="card-subtitle">{{annuncio.indirizzo}}</p>
          <p class="proprietario">PROPRIETARIO</p>
          <p class="card-text infoProprietario">{{annuncio.nome}} {{annuncio.cognome}}</p>
          <a href="#myModal" class="btn buttonInformazioniM" data-bs-toggle="modal" data-bs-target="#Modal{{annuncio.idAnnuncio}}">Maggiori Informazioni</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
 
</div>
{% for annuncio in allAnnunci %}
<div class="modal fade" id="Modal{{annuncio.idAnnuncio}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{annuncio.titolo}}</h4>
      </div>
      <div class="modal-body">
        <div class="image-grid mb-3">
            {% set foto_list = annuncio.foto_concatenate.split(',') %}
              {% for foto in foto_list %}
                <img src="{{ url_for('static', filename=foto) }}" class="d-block w-100 grid-image" alt="Foto {{loop.index}}">
              {% endfor %}
        </div>
        <p class="card-title">{{annuncio.tipoCasa}}</p>
        <p class="card-text prezzoM">{{annuncio.prezzoMensile}}€</p>
        <p class="card-subtitle">{{annuncio.indirizzo}}</p>
        <p class="infoSecondarie">{{annuncio.numeroLocali}} locali</p>
        <p class="infoSecondarie">{{annuncio.descrizione}}</p>
        {%if annuncio.arredamento == 'SI' %}
          <p class="infoSecondarie">ARREDATO</p>
        {%endif%}
        <p class="proprietario">PROPRIETARIO</p>
        <p class="card-text infoProprietario">{{annuncio.nome}} {{annuncio.cognome}}</p>
      </div>
      <form action="/prenotazione/{{annuncio.idAnnuncio}}" method="POST">
        <div class="modal-footer">
          {% if not current_user.is_authenticated %}  
            <a href="{{url_for('Page_login')}}" class="btn buttonInformazioni">Prenota una visita</a>
          {% else %}
            {% if current_user.id == annuncio.idUtente %}
            <button type="submit" class="btn buttonInformazioni" disabled>Prenota una visita</button>
            {% else %}
              <button type="submit" class="btn buttonInformazioni" >Prenota una visita</button>
            {% endif %}
          {% endif %}
          <button type="button" class="btn buttonInformazioni2" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}



