{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block liNav %}
    <li class="nav-item">
        <a class="nav-link mx-2" aria-current="page" href="{{url_for('index')}}">Home</a>
    </li>
{% endblock %}
{% block content %}      
<div class="container-fluid login-container">
    <div class="row no-gutter"> <!--no gutter serve per eliminare la spaziatura tra le colonne all'interno di una riga-->
        <div class="col-md-6 d-md-flex bg-image"></div>
        <div class="col-md-6 backFormLogin">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Login</h3>
                            <p class="text-muted mb-4">Inserisci Username e Password per accedere al servizio</p>
                            <form class="form" action="/login" method="POST">
                                <div class="form-group mb-3">
                                    <input name="username" type="text" placeholder="Username" required="" autofocus="" class="form-control shadow-sm rounded-pill inputLogin">
                                </div>
                                <div class="form-group mb-3">
                                    <input name="password" type="password" placeholder="Password" required="" class="form-control shadow-sm rounded-pill inputLogin">
                                </div>
                                <button type="submit" class="btn shadow-sm buttonLogin">SIGN IN</button>
                                <a href="{{url_for('sign_up')}}" class="btn shadow-sm buttonLogin2">SIGN UP</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


