{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block liNav %}
<li class="nav-item">
    <a class="nav-link mx-2 active" aria-current="page" href="{{url_for('index')}}">Home</a>
  </li>
  <li class="nav-item d-none d-lg-block">
    <a class="nav-link mx-2" href="#">
      <img src="/static_files/images/logos/logo_2_white.png" height="80" />
    </a>
  </li>
  {% if current_user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link mx-2" href="#">Profilo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link mx-2" href="{{url_for('logout')}}">Logout</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link mx-2" href="{{url_for('Page_login')}}">Login</a>
  </li>
</li>
  {% endif %}
{% endblock %}

{% block content %}

<div class="container-fluid mt-5 contCommenti">
  {% if current_user.is_authenticated %}
  <form action="/newAnn" method="POST" enctype="multipart/form-data">
      <div class="form-group">
          <h4>Aggiungi un Annuncio!</h4>
          <label for="titolo">Titolo</label>
          <input type="text" name="titolo" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="indirizzo">Indirizzo</label>
        <input type="text" name="indirizzo" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="tipoC">Tipo Casa</label>
        <select class="form-control" name="tipoC" required>
          <option name="tipoC"></option>
          <option name="tipoC">casa indipendente</option>
          <option name="tipoC">appartamento</option>
          <option name="tipoC">loft</option>
          <option name="tipoC">villa</option>
        </select>
      </div>
      <div class="form-group">
        <label for="numLocali">Numero Locali</label>
        <select class="form-control" name="numLocali" required>
          <option name="numLocali"></option>
          <option name="numLocali">1</option>
          <option name="numLocali">2</option>
          <option name="numLocali">3</option>
          <option name="numLocali">4</option>
          <option name="numLocali">5+</option>
        </select>
      </div>
      <div class="form-group">
          <label for="descrizione">Descrizione</label>
          <textarea name="descrizione" msg cols="30" rows="5" class="form-control" required></textarea>
      </div>
      <div class="form-group">
        <label for="prezzoM">Prezzo Mensile</label>
        <input type="number" name="prezzoM" class="form-control" value="500" min="100" max="2500" step="50" required> <!--TODO-->
      </div>
      <br>
      <div class="form-group mb-3">
        <label for="divArredato">Arredamento</label>
        <div class="form-check form-check-inline" id="divArredato">
            <input type="radio" class="form-check-input" id="rad1" name="arredato" value="Y" checked>SI                                        
            <label class="form-check-label" for="rad1"></label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="rad2" name="arredato" value="N">NO
            <label class="form-check-label" for="rad2"></label>
        </div>
      </div>
      <div class="form-group">
          <label for="imgCommento" class="form-label">Aggiungi da 1 a 5 fotografie dell'appartamento</label>
          <input class="form-control" type="file" name="imgAnnuncio" multiple required> <!--attributo multiple utilizzato per selezionare più file in una volta sola-->
      </div>
      <br>
      <div class="form-group mb-3">
        <label for="divDisponibile">Disponibile</label>
        <div class="form-check form-check-inline" id="divDisponibile">
            <input type="radio" class="form-check-input" id="radD1" name="disponibile" value="Y" checked>SI                                        
            <label class="form-check-label" for="radD1"></label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="radD2" name="disponibile" value="N">NO
            <label class="form-check-label" for="radD2"></label>
        </div>
      </div>
      <div class="form-group">
          <button type="submit" id="annuncio" class="btn btn-success">Aggiungi Annuncio</button>
      </div>
  </form>
  {% endif %}
  <br>
  <div class="row">
      <h4>Commenti</h4>
  </div>
  <div style="background-color: #e7effd;">
      <div class="container my-5 py-5 text-dark">
          <!--{% for comment in comments %}-->
          <div class="row d-flex justify-content-center">
              <div class="col-md-11 col-lg-9 col-xl-7">
              <div class="d-flex flex-start mb-4">
                  <img class="rounded-circle shadow-1-strong me-3"
                  src="" alt="avatar" width="65"
                  height="65" />
                  <div class="card w-100">
                  <div class="card-body p-4">
                      <div>
                      <!--<h5>{{comment.username}}</h5>
                      {%for val in range(0, comment.rating | int )%} 
                          <label for="{{val}}">☆</label>
                      {%endfor%}
                      <p>{{comment.commento}}</p>-->
                      </div>
                  </div>
                  </div>
              </div>
              </div>
          </div>
          <!--{%endfor%}-->
      </div>
  </div>
</div>
{% endblock %}